@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- Apple Logo -->
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Apple-logo.png" alt="anApple" style="width:100px;height:1 00px;">

    <!-- Main Text -->
    <h1 class="display-4">Welcome to </h1> 
        <h2 style="color:gray"> an Awesome Workers Metric Tracker </h2>
        <br> 
    <p> <a class="btn btn-primary btn-info" href="/Worker/Index" style="color:lightslategray"> Lets Begin Tracking </a>  </p>
</div>
