@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- Apple Logo -->
    <img src="https://www.pngkit.com/png/full/1-10299_free-icons-png-end-user-icon.png" alt="anApple" style="width:100px;height:1 00px;">

    <!-- Main Text -->
    <b> <h1 class="display-4">Welcome to </b>  </h1>
    <h2 style="color:gray">  an Awesome Workers Metric Tracker  </h2>
        <br> 
    <h2> <a class="btn btn-secondary btn-outline-white" href="/Worker/Index"> Begin Tracking </a>  </h2>
</div>
