@page
@model Work_Metric_Tracker.Pages.Worker.AddModel
@{
}

<br> 
<h1> New Worker </h1>

<!-- Error Message -->



<!-- Create Form -->

<form method="POST"> 

    <div class="row mb-3"> 
        <label class="col-sm-3 col-form-label"> Name </label>
        <div class="col-sm-6"> 
            <input type="text" class="form-control" name="name"> 
        </div>
    </div>

</form>

<!-- Success Message -->

<!-- Submit Button -->
