@page
@model Work_Metric_Tracker.Pages.Worker.Operations.AddModel
@{
}

<!-- Error Message -->


<!-- Title of Page -->

<br> 
<h2> New Worker </h2>



<!-- Form to register new worker -->

<form method="POST"> 

    <div class="row mb-3"> 
        <label class="col-sm-3 col-form-label"> Name </label>
        <div class="col-sm-6"> 
            <input type="text" class="form-control" name="name" value=""> 
        </div>
    </div>

    <!--  Success Message  -->

    <!-- Submit Button -->

    <div class="row mb-3"> 

        <div class="offset-sm-3 col-sm-3 d-grid"> 
            <button type="submit" class="btn btn-primary"> Submit </button>
        </div>

        <div class="col-sm-3 d-grid"> 
            <a class="btn btn-outline-primary" href="/" role="button"> Cancel </a>
        </div>
    </div>


</form>


